html, body {margin: 0; height: 100%; overflow: hidden}
@font-face {
	font-family: urchlo;
	src: url('../../fonts/Urchlo\ Romhanach.ttf');
  }
  
  @font-face {
	font-family: aonchlo;
	src: url('../../fonts/aonchlo.ttf');
  }
  
#main-view{
	// border:4px solid orange;
	justify-content: center;
	display: grid;
	align-items: center;
	display: grid;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../../img/g.png');
	width:100%;
	height: 100vh;;
	z-index: 10;
	// border:1px solid blue;
}


.gamepad{
	// border:4px solid blueviolet;
	position:fixed;
	z-index: 60;
	right:5%;
	top:55%;
	width:150px;
	height:150px;

}

.title-container{
	// border:3px solid red;
	width:500px;
	justify-content: center;
	text-align: center;
	padding-top:5%;
	height:100%;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	// background-color: #2196F3;
	// padding: 10px;
}

.grid-item {
	// background-color: rgba(255, 255, 255, 0.8);
	// border: 1px solid rgba(0, 0, 0, 0.8);
	// padding: 20px;
	font-size: 30px;
	text-align: center;
	border:0px;
	padding:0px;
	margin:0px !important;
}
//   Hide dropdown menu triangle
#dropdown-basic::after{
	display:none; }
	
	.dropdown{
		width:55px;
		height:100%;
	}
	#select-start{
		top: 90%;
		right: 32%;
		position: fixed;
		width: 25%;
		justify-content: space-evenly;
		display:flexbox;
	}
	#a-b-items{
		border:4px solid rebeccapurple;
	}
	
	#a-b-buttons{
		
		// border:4px solid purple;
		position: fixed;
		top:72%;
		left:5%;
		width:20%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		z-index: 12;
	}
	
	
	
	.prompt-hor {
		display: none;
		color:black;
	}
	
	@media screen and (orientation: portrait) {
		html {
		}
		
		.prompt-hor {
			font-size: 2em;
			z-index: 500;  
			height:100% !important;
			width:100%;
			position: fixed;
			text-align: center;
			align-items: center;
			justify-content: center;
			top:0%;
			left:0%;
			background-color: black;
			// border:5px solid orange;
			justify-content:center ;
			background-image: url('../../img/g90.png');
			display: grid; 
			background-repeat:no-repeat;
			background-size: cover;
		}
		.turn, .turn2{
			// border:4px solid blue;
			z-index: 501;
			transform:translateY(250px) ;
			width: 500px !important;
			height: 500px;
			background-image:url('../../img/turn.png');
			background-repeat: no-repeat;
			display: grid;
			
		}
		.turn2{
			transform: rotate(90deg);
		}
	}
	.hidden{display:none}