
@font-face {
	font-family: urchlo;
	src: url('../../fonts/Urchlo\ Romhanach.ttf');
  }
  
  @font-face {
	font-family: aonchlo;
	src: url('../../fonts/aonchlo.ttf');
  }
  
#main-view{
	// border:4px solid orange;
	justify-content: center;
	display: grid;
	align-items: center;
	display: grid;
	justify-content: center;
	// background-repeat: no-repeat;
	// background-size: 100% 100%;
	// background-image: url('../../img/g.png');
	width:100%;
	height:100%;
	z-index: -1;
	
}


gamepad{
	// border:4px solid blueviolet;
	position:fixed;
	z-index: 60;
	right:5%;
	top:60%;
	width:150px;
	height:150px;

}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	// background-color: #2196F3;
	// padding: 10px;
  }
  
  .grid-item {
	// background-color: rgba(255, 255, 255, 0.8);
	// border: 1px solid rgba(0, 0, 0, 0.8);
	// padding: 20px;
	font-size: 30px;
	text-align: center;
  }


  #a-b-items{
	border:4px solid rebeccapurple;
  }

  #a-b-buttons{

	// border:4px solid purple;
	  position: fixed;
	  top:72%;
	  left:5%;
	  width:20%;
	  display: flex;
	  justify-content: space-around;
	align-items: center;
	text-align: center;
	  z-index: 12;
  }

  .champ-container{
	border:4px solid orange;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;

  }