.button-a{
	font-family: 'aonchlo';
	position: fixed;
	display: flex;
	z-index: 5000;
	align-items: center;
	justify-content: center;
	// padding-top:5%;
	height: 100px;
	width: 100px;
	background-color: rebeccapurple;
	border: 5px solid rgb(61, 38, 61);
	border-radius: 50%;
	margin-right: 40px;
	color: rgb(177, 132, 221);
	cursor: 'pointer';
	font-size: 2em;
	font-size: 3em;
}
  
