.button-left{
	border:5px solid blueviolet;
	background-color: blueviolet;

	height:50px;
	width:50px;
	position:relative;
	z-index: 50;

	background-color: rgb(83, 60, 90);
	border-top: 5px solid rgba(170, 176, 177,0.5);
	
	border-right: 5px solid rgba(170, 176, 177,0);
	border-left: 5px solid rgba(170, 176, 177,0.5);
	border-bottom: 5px solid rgba(170, 176, 177,0.5);
}