.button-up{
	background-color: rgb(83, 60, 90);
	border-top: 3px solid rgba(170, 176, 177,0.5);
	
	border-right: 3px solid rgba(170, 176, 177,0.5);
	border-left: 3px solid rgba(170, 176, 177,0.5);
	border-bottom: 0px solid rgba(83, 60, 90,1);
	height:50px;
	width:50px;
	position:relative;
	z-index: 50;
	top:14px;

	
}